/* asi se escriben los comentarios en css*/

/*selector de tipo*/
p {
    color:blue;
    font-size: 20px;
    background-color: aliceblue;
    text-align: justif
    
}
/*
Aliniear texto
● Centrado (text-align: center)
● Derecha (text-align: right)
● Izquierda (text-align: left)
● Justificado (text-align: justify)
*/
/*Selector de clase 
las clases se llaman con .nombre*/

.colorVerde {
    color: green;
    text-align: center;
}

/* Selectores de tipo ID
Se llaman #nombre*/

#selectorId {
    color: red;
    font-size: 50px;
}

/* body es para toda la pagina*/

body {
    background-image: url(../imagenes/arc.jpg); /* imagen de fondo, por defecto se repite hasta llenar*/
    background-repeat: no-repeat; /* propiedad para repetir la imagien o no*/
    background-size: cover; /*se ajusta el fondo a todala pantalla*/
    background-attachment: fixed; /*fijo la imagen cuando scrolleo*/
    background-color: slateblue; /*color de fondo*/
}