body {
    color: white;
    background-color: rgb(196, 67, 67); /*color de fondo*/
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotoIndividual {
    margin: 10px;
    width: 200px;
    height: 200px;
    margin: 5px;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: 250px;
    margin: 5px;
}