div.bloque1 {
    width: 200px; /*ancho*/
    height: 20%; /*alto*/
    margin:  10px; /*ancho margen*/
    border: 6px solid; /*ancho borde*/
    border-style: dashed; /*tipo de linea del borde*/
    border-color: aqua; /*color del borde*/
    }

div.bloque2 {
    width: auto;
    border: 3px solid red;
    }